.width-post-bottom {
	width: 67% !important;
}

.border-post-bottom {
	border-right: 0px solid #e0e0e0 !important;
}

.height-100 {
	height: 100% !important;
}

.accordion {
  background-color: #eee !important;
  color: #595959 !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 20px; 
}

.active, .accordion:hover {
  background-color: #d10000 !important;
  color: #fff !important;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.background-header-white {
  background: rgba(255, 255, 255, 0.18) !important;
}

.color-black {
  color: #000000 !important;
}

.color-white {
  color: #fff !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-0-0{
  padding: 0 0 !important;
}

.display-none {
  display: none !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}


.fixed {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #0B7271;
  color: #f8f8f8;
  -webkit-transition: top 400ms ease 0s;
  -moz-transition: top 400ms ease 0s;
  -o-transition: top 400ms ease 0s;
  -ms-transition: top 400ms ease 0s;
  transition: top 400ms ease 0s;
  box-shadow: 0 0 40px #222;
  -webkit-box-shadow: 0 0 40px #222;
  -moz-box-shadow: 0 0 40px #222;
}

.position-fixed {
  position: fixed !important;
}

.margin-left25 {
  margin-left: 25px !important; 
}

.content-100 {
  width: 100% !important;
}

.padding-error {
  padding: 20em 0 6em !important;
}
.float-right{
  float: right !important;

}

.color-active {
  color: #d10000 !important;
}

.sticky-container{ padding:0px; margin:0px; position:fixed; right:-130px;top:45%; width:210px; z-index: 1100;}
.sticky li{list-style-type:none;background-color:#fff;color:#efefef;height:43px;padding:0px;margin:0px 0px 1px 0px; -webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; cursor:pointer;}
.sticky li:hover{margin-left:-115px;}
.sticky li img{float:left;margin:5px 4px;margin-right:5px;}
.sticky li p{padding-top:5px;margin:0px;line-height:16px; font-size:11px;}
.sticky li p a{ text-decoration:none; color:#2C3539;}
.sticky li p a:hover{text-decoration:underline;}
.sticky--padding-left{padding-left: 3em;}